* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--font-color);
}
body {
    background-color: var(--background-color);
}
:root {
    --background-color:rgb(0, 0, 0);
    --font-color: aliceblue;
    --primary-color: rgb(51, 205, 216);
    --secondary-color: rgba(21, 38, 190, 0.925);
    --accent-color:rgb(66, 211, 163);
}

.hero-section {
    height: 100vh;
    height: 100dvh;
}
.hero-section-video {
    z-index: -1;
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: -1.5rem;
}
.hero-title {
    font-size: 6rem;
    text-align: center;
    margin-top: 8rem;
    color: var(--font-color);
}
.hero-section p {
    text-align: center;
    margin-top: 2rem;
}
.hero-section button {
    display: flex;
    width: 11rem;
    height: 3.5rem;
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 12rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.quote-section {
    height: 8rem;
    background: var(--background-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
}
.quote-section h1 {
    color: var(--primary-color);
}


.features-section {
    height: 1080px;
    background:var(--background-color);
}
.features-benefits-section {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 14rem;
    margin-left: 10rem;
    justify-content: center;
    align-content: center;
}
.features-benefits-section div {
    width: 16rem;
}
.features-benefits-section h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
}
.features-benefits-section p {
    font-size: 1.3rem;
}


.testimonials-section {
    height: 1080px;
    background: rgb(226, 47, 16);
}


.pricing-section {
    height: 1080px;
    background: rgb(8, 233, 45);
}
