* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--font-color);
}
body {
    background-color: var(--background-color);
}
:root {
    --background-color:rgb(0, 0, 0);
    --font-color: aliceblue;
    --primary-color: rgb(51, 205, 216);
    --secondary-color: rgba(21, 38, 190, 0.925);
    --accent-color:rgb(66, 211, 163);
}

.hero-section {
    height: 100vh;
    height: 100dvh;
}
.hero-section-video {
    z-index: -1;
    height: 1080px;
    width: 1920px;
    position: absolute;
    top: -1.5rem;
}
.hero-title {
    font-size: 6rem;
    text-align: center;
    padding-top: 8rem;
    color: var(--font-color);
}
.hero-section p {
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
}
.hero-section button {
    display: flex;
    width: 16rem;
    height: 4rem;
    background-color: var(--primary-color);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 14rem;
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
    border-radius: 8px;
}
.hero-section button:hover {
    font-size: 2.2rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    scale: 1.1;
}
.hero-section button:active {
    position: relative;
    top: 2px;
}

.quote-section {
    height: 8rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-align: center;
    align-content: center;
}
.quote-section h1 {
    color: var(--font-color);
}


.features-section {
    height: 1080px;
    background:var(--background);
}
.features-benefits-section {
    margin-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 14rem;
    margin-left: 10rem;
}
.features-benefits-section div {
    width: 16rem;
}
.features-benefits-section h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.features-benefits-section p {
    font-size: 1.3rem;
    text-align: center;
}
.features-benefits-section img {
    margin: 0 auto;
    width: 60px;
    height: 60px;
}
.features-benefit-div {
    text-align: center;
}



.testimonials-section {
    height: 1080px;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
}
.testimonials-section button {
    width: 22rem;
    height: 5rem;
    font-size: 2.2rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    text-align: center;
    margin: 0 auto;
    margin-top: 3.5rem;
}
.testimonials-section img {
    width: 450px;
    height: 290px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30px
}
.testimonials-section-div-for-pics {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 11rem;
}
.testimonial-section-individual-div { 
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border: 5px solid var(--background-color);
    text-align: center;
    padding-bottom: 9rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 30rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 1.4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.pricing-section {
    height: 1080px;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-cards-container {
    display: flex;
}
.pricing-card {
    background-color: var(--primary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 20rem;
    height: 34rem;
    margin: 2rem;
    box-shadow: rgba(82, 225, 230, 0.856) 0px 48px 80px 0px;
}
.pricing-card:hover {
    position: relative;
    bottom: 8px;
    scale: 1.1;
    box-shadow: rgb(31, 195, 245) 0px 48px 100px 0px;
}
.pricing-card h1 {
    color: var(--font-color);
    margin-top: 2rem;
    font-size: 2.5rem;
}
.pricing-card p {
    color: var(--font-color);
    font-size: 2.4rem;
    margin-top: 1.5rem;
}
.pricing-card button {
    margin-top: 6rem;
    background-color: var(--background-color);
    width: 18rem;
    height: 4rem;
    color: var(--primary-color);
}  
.pricing-card h2 {
    margin-top: 6rem;
} 

